@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Open Sans", sans-serif;
}

.sectionContainer{
    max-width: 1440px;
    margin: 0px auto;
}
.outfit{
    font-family: "Outfit", sans-serif;
}
.mySwiper .swiper-pagination {
    margin-top: 20px; 
}
.mySwiper .swiper-pagination {
    position: relative; 
    bottom: -20px; 
}